## Types Of Object
1. Immutable
2. Mutable

# Immutable


1.   Int
2.   Float
3.   Complex
4.   String
5.   Boolean
6.   Tuple

# Mutable


1.   List
2.   Set
3.   Distionary

In [2]:
my_list = [1,3,4,5]
print(my_list)
type(my_list)

[1, 3, 4, 5]

list

In [4]:
my_list = [1,"mango",True,32,3j+32.4]
print(my_list)
type(my_list)

[1, 'mango', True, 32, (32.4+3j)]

list

In [9]:
print(my_list[4])

(32.4+3j)

In [10]:
print(len(my_list))

5

In [15]:
list2=[]
print(len(list2))
list2.append(3)
list2.append(6)
print(list2)

0
[3, 6]

In [17]:
tuple1=(1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [21]:
myset={1,3,53}
print(myset)
type(myset)

{1, 3, 53}

set

In [29]:
myset.add(3)

In [32]:
myditionary={"name":"tayyab","age":21}
print(myditionary)
type(myditionary)

{'name': 'tayyab', 'age': 21}

dict