# Operation In Python


1.   Airthmetic Operation
2.   Assignment Operation
3.   Comparision Operation
4.   Logical Operation
5.   Identity Operation
6.   MemberShip Operation

### Arithmetic Operation

In [4]:
num1=20
num2=10

#addition
sum=num1+num2
print("addition",sum)

#subtraction
sub=num1-num2
print("difference",sub)


#multiplication

mul=num1*num2
print("multiplication",mul)


#division

div=num1/num2
print("division",div)



#quotient

quo=num1%num2
print("reminder",quo)


#exponent

expo=num1 ** num2
print("exponent",expo)

addition 30
difference 10
multiplication 200
division 2.0
reminder 0
exponent 10240000000000

### Assignment Operation

In [6]:
a=5
a+=5 # a=a+5
print(a)

10

Comparision Operations

In [14]:
b=4
d=10
print(d==b)
print(d<b)
print(d<=b)
print(d>b)
print(d>=b)
print(d!=b)

False
False
False
True
True
True

## Logical Operations

1. AND
2. OR
4. NOT

In [16]:
a=10

print(a>20 and  a>6)
print(a>20 or  a>6)
print(not(a>20 and  a>6))

False
True
True

## Identity Operation
 is / isnot

In [18]:
x=y=5
print(x is not y)

False

## MemberShip Operations

in /
not in

In [21]:
a=4
b=7
c=[2,4,6,8]
print(a in c)
print(b in c)

True
False