In [1]:
laptop1=int(input("Enter the price of Laptop : "))
laptop2=int(input("Enter the price of Laptop : "))
laptop3=int(input("Enter the price of Laptop : "))
laptop4=int(input("Enter the price of Laptop : "))
laptop5=int(input("Enter the price of Laptop : "))

Enter the price of Laptop : 5434
Enter the price of Laptop : 3435
Enter the price of Laptop : 345
Enter the price of Laptop : 34534
Enter the price of Laptop : 43435

In [3]:
for _ in range(5):
  laptop=int(input("Enter the price of Laptop : "))

Enter the price of Laptop : 2324
Enter the price of Laptop : 43453
Enter the price of Laptop : 3535
Enter the price of Laptop : 3435
Enter the price of Laptop : 3443

In [4]:
numbers=[1,54,65,234]
for num in numbers:
  print(num)

1
54
65
234

In [6]:
i=0
while i<10:
  print(i)
  i=int(input("enter the value of i"))

0
enter the value of i2
2
enter the value of i3
3
enter the value of i22